:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #222;
    --primary-color: red;
}

* {
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* sau này dùng responsive */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    overflow: hidden;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}


.moda {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}


.moda__body {
    background-color: #fff;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.btn {
    min-width: 142px;
    height: 36px;
    color: var(--text-color);
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.btn.btn__primary {
    background-color: #ff7322;
    color: var(--while-color);
    width: 100%;
}

.btn.btn-size-S {
    height: 32px;
    font-size: 14px;
}

.btn__primary:hover {
    filter: brightness(90%);
}

.register-form__backindex:hover {
    cursor: pointer;
    background-color: #999;
}

/* selection */
.select-input {
    position: relative;
    min-width: 200px;
    padding-top: 12px;
    font-size: 16px;
    height: 36px;
    border-radius: 3px;
    color: var(--text-color);
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 21px;
    border-radius: 3px;
    background-color: white;
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-input__link {
    font-size: 14px;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
}

.select-input__link:hover {
    color: #ff7322;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    list-style: none;
    margin: 0 14px;
}

.pagination-item__primary .pagination-item__link {
    background-color: #ff7322;
    color: var(--while-color);
}

.pagination-item__primary .pagination-item__link:hover {
    background-color: #e06d2a;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #5c5b5b;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;

}